---
import BaseHead from '../components/BaseHead.astro';
import PhotoPreview from '../components/PhotoPreview.svelte';
import Exif from '../components/Exif.svelte';
import { SITE_TITLE } from '../consts';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const photos = await getCollection('photos');
  return photos.map((photo) => ({
    params: { slug: photo.id },
    props: { photo },
  }));
}

const { photo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <PhotoPreview {photo} client:load />

    <div class="exif">
      <Exif
        fNumber={photo.data.exif.exif.FNumber}
        iso={photo.data.exif.exif.ISO}
        exposureTime={photo.data.exif.exif.ExposureTime}
        focalLength={photo.data.exif.exif.FocalLengthIn35mmFormat}
        camera={photo.data.exif.image.Model}
      />
    </div>
  </body>
</html>

<style>
  .exif {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 15px;
  }
</style>
